/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main--container__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2874A1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

#main--container__style .main--img__style {
  height: 85px;
  margin: 0 10%;
}

#main--container__style .fa-bars {
  font-size: 3rem;
  color: white;
  margin-right: 30px;
}

#main--container__style .main--items__style {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

#main--container__style .main--items__style li {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 6% 0;
}

#main--container__style .main--items__style .close--stlye {
  font-size: 3rem;
  color: white;
  margin-left: 2%;
}

#main--container__style .main--items__style .item--link__style {
  font-size: 3rem;
  color: white;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}

.scrolled--container__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: green;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.main--hero__style {
  margin-top: 108px;
  background: #2874A1;
}

.main--hero__style .main--text__style {
  padding-top: 15px;
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.main--hero__style .sub--text__style {
  text-align: center;
  margin-top: 8%;
  font-size: 1.1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.main--hero__style .hero--img__style {
  max-width: 90%;
  margin: 5%;
}

.main--hero__style .main-icon__style {
  text-align: center;
  padding: 20px 0;
}

.main--hero__style .main-icon__style i {
  color: white;
  font-size: 2rem;
  margin: 0 3%;
  border-radius: 50%;
  border: 2px solid white;
  padding: 3%;
}

.main--hero__style .main-icon__style i:hover {
  color: gray;
}

hr {
  width: 30%;
  margin: 30px auto;
  size: 4px;
  border: 1px solid #2874A1;
}

.project--container__style {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.project--container__style .project--title__style {
  font-size: 2.5rem;
  margin: 8%;
  text-align: center;
  color: #424242;
}

.project--container__style .image--container__style {
  max-width: 85%;
  margin: 18% auto;
}

.project--container__style .image--container__style .project--img__style {
  max-width: 85%;
  -webkit-box-shadow: 2px 6px 8px gray;
          box-shadow: 2px 6px 8px gray;
}

.project--container__style .image--container__style .img--text__style {
  margin: 10% auto;
  font-size: 1.5rem;
  font-weight: 300;
}

.project--container__style .image--container__style .img--link__style {
  color: #30c5e5;
  padding: 5% 20%;
  border: 1px solid #30c5e5;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
  font-size: 1rem;
  border-radius: 8px;
}

.project--container__style .image--container__style .img--link__style:hover {
  background: #30c4e525;
}

.about--container__style {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: #3d56ad;
  padding-top: 1px;
}

.about--container__style .about--title__style {
  font-size: 2.5rem;
  color: white;
  margin: 8%;
}

.about--container__style .seconday--container__style {
  margin: 8%;
  text-align: center;
}

.about--container__style .seconday--container__style .about--img__style {
  max-width: 100%;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  border-radius: 8px;
}

.about--container__style .seconday--container__style .about--text__style {
  color: white;
  font-weight: 200;
  line-height: 28px;
  margin-top: 30px;
  font-size: .85rem;
  padding-bottom: 30px;
}

.skills--container__style {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.skills--container__style .main--text__style {
  font-size: 2.5rem;
  margin: 8%;
  color: #424242;
}

.skills--card__container {
  max-width: 85%;
  margin: 18% auto;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
  height: 200px;
  border-radius: 15px;
}

.skills--card__container .icon--container__style {
  background: #2874A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  border-radius: 15px 15px 0 0;
}

.skills--card__container .icon--container__style .card--icon__stlye {
  max-width: 75%;
  height: 120px;
  margin-top: 30px;
}

.skills--card__container .card--text__style {
  margin-top: 60px;
  font-size: 1.5rem;
  font-weight: 300;
}

.contact--container__style {
  padding-top: 1px;
  background: #3d56ad;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.contact--container__style .main--text__style {
  font-size: 2.5rem;
  margin: 8%;
}

.contact--container__style .form--container__style {
  display: block;
  font-size: 1.3rem;
  color: black;
  background: white;
  width: 85%;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
  padding: 1px;
}

.contact--container__style .form--container__style label {
  display: block;
  padding: 5% 0;
  color: #424242;
}

.contact--container__style .form--container__style input {
  border: .5px solid #d8d8d89f;
  padding: 4%;
  border-radius: 5px;
  width: 70%;
}

.contact--container__style .form--container__style .submit--button__style {
  display: block;
  margin: 8% auto;
  border: .5px solid #2874A1;
  color: #2874A1;
  background: white;
  padding: 4%;
  width: 78%;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.contact--container__style .email--card__style {
  background: #2874A1;
  margin: 0 auto;
  width: 68%;
  padding: 8%;
  margin-top: 8%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.contact--container__style .email--card__style .fa-envelope {
  font-size: 2.5rem;
  margin-bottom: 6%;
}

.contact--container__style .email--card__style h3 {
  font-size: 1.3rem;
  margin-bottom: 6%;
}

.contact--container__style .email--card__style a {
  color: white;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 300;
}

.contact--container__style .email--card__style a:hover {
  color: gray;
}
/*# sourceMappingURL=Styles.css.map */