.skills--container__style {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

    .main--text__style {
        font-size: 3rem;
        margin-top: 5%;
        color: #424242;
    }

}

.skills--card__container {
    max-width: 85%;
    margin: 18% auto;
    box-shadow: 2px 2px 2px grey;
    height: 200px;
    border-radius: 15px;

    .icon--container__style {
        background: #2874A1;
        display: flex;
        justify-content: center;
        height: 100px;
        border-radius: 15px 15px 0 0;

        .card--icon__stlye {
            max-width: 75%;
            height: 120px;
            margin-top: 30px;
        }
    }

    .card--text__style {
        margin-top: 60px;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

@media screen and (min-width:768px){
    .row--skills__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .skills--card__container {
            width: 370px;
        }
    }
}